:root {
  --color-primary: #1DDAEF;

  --color-background: #222020;
  --color-background-secondary: #1B1A1A;
  --color-background-tertiary: #282828;
  --color-background-quaternary: #111111;
  --color-foreground: #FBFAFA;
  --color-foreground-invert: #101010;
  --color-border-primary: #202020;

  --color-semantic-warning: #FA5F5F;

  --opacity-muted-full: .5;
  --opacity-muted-half: .65;
  --opacity-muted-partial: .9;

  --color-muted-full: #616161;
  --color-muted-partial: #686262;

  --color-hover: #fbfafa25;

  --font-size-xsm: clamp(.75rem, 1vw + 1rem, .95rem);
  --font-size-sm: clamp(.9rem, 1vw + 1rem, 1.15rem);
  --font-size-md: clamp(1rem, 1vw + 1rem, 1.5rem);
  --font-size-lg: clamp(1.5rem, 1vw + 1rem, 2rem);
  --font-size-xl: clamp(1.75rem, 1vw + 1rem, 3rem);

  --extrabold: 800;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  gap: var(--unit-xsm);
  
  padding: var(--unit-xsm);
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-foreground);
  letter-spacing: .3px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  transition: .2s ease-out;
  font-family: var(--font-nunito);
}

a {
  color: inherit;
  text-decoration: none;
}