:root {
  --unit-2px: 0.125rem;
  --unit-4px: 0.25rem;
  --unit-8px: 0.5rem;
  --unit-12px: 0.75rem;
  --unit-16px: 1rem;
  --unit-20px: 1.25rem;
  --unit-24px: 1.5rem;
  --unit-28px: 1.75rem;
  --unit-32px: 2rem;

  --card-cover-size: 10rem;
}